#tfa_17,

						*[id^="tfa_17["] {

								width: 164px !important;

						}

						#tfa_17-D,

						*[id^="tfa_17["][class~="field-container-D"] {

								width: auto !important;

						}

			 

						#tfa_14,

						*[id^="tfa_14["] {

								width: 164px !important;

						}

						#tfa_14-D,

						*[id^="tfa_14["][class~="field-container-D"] {

								width: auto !important;

						}

			 

						#tfa_33-L,

						label[id^="tfa_33["] {

								width: 227px !important;

								min-width: 0px;

						}

			 

						#tfa_16,

						*[id^="tfa_16["] {

								width: 164px !important;

						}

						#tfa_16-D,

						*[id^="tfa_16["][class~="field-container-D"] {

								width: auto !important;

						}

			 

						#tfa_32,

						*[id^="tfa_32["] {

								width: 167px !important;

						}

						#tfa_32-D,

						*[id^="tfa_32["][class~="field-container-D"] {

								width: auto !important;

						}
